{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.author.email %}
      <li><a href="mailto:{{ site.author.email }}"><i class="fas fa-envelope" aria-hidden="true"></i> Email</a></li>
    {% endif %}
    {% if site.author.googlescholar %}
      <li><a href="{{ site.author.googlescholar }}"><i class="ai ai-google-scholar" aria-hidden="true"></i> Scholar</a></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.twitter %}
      <li><a href="https://twitter.com/{{ site.author.twitter }}"><i class="fab fa-x-twitter" aria-hidden="true"></i> Twitter</a></li>
    {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>
